@(list: )(implicit flash: Flash)

<html>
<head>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript">
function AddRow()
{
    $('#myTable').append('<tr><td></td></tr>')
}
</script>
    <title></title>
</head>
<body>

<div class="container">
    @flash.get("success").getOrElse("")
    <table class="table table-striped">
        <tr>
            <td>List of Users</td>

        </tr>
        @for(order <- list) {
        <tr>
            <td>@order</td>
            <td><a href="@routes.LoginController.disableUser(order)"> Disable User</a></td>
            <td><a href="@routes.LoginController.enableUser(order)">Enable user</a></td>
        </tr>
        }

    </table>
</div>
</body>
</html>
