@(displayBar: String)(person: List[PersonSignup])(implicit flash: Flash)
@main(displayBar) {

<div class="container">
    @flash.get("message").getOrElse("")
    <table class="table table-striped">
        <tr>
            <td>List of Users</td>

        </tr>
        @for(user <- person) {
        <tr>

            <td>@user.email</td>
            <td><a href="@routes.AdminController.blockUser(user.email)"><button type="button" class="btn btn-danger">BLOCK</button></a></td>
            <td><a href="@routes.AdminController.activate(user.email)"><button type="button" class="btn btn-success">ACTIVE</button></a></td>
        </tr>
        }

    </table>
</div>
}